/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;

}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #218838;
}

/* Navbar Styles */
nav {
  background-color: #f1f1f1;
  padding: 10px 0;
  border-radius: 5px;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #1a1b1b;
  font-size: 18px;
}

nav ul li a:hover {
  color: #db1010;
}

/* Centering Form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border-radius: 10px;
  box-shadow: 1px 1px 8px;
}

.form-box {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.user-table th {
  background-color: #177ab8;
  color: white;
}

.edit-btn {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #138496;
}

.delete-btn:hover {
  background-color: #c82333;
}

.add-user-btn {
  background-color: #218838;
  color: white;
  border-radius: 2px;
  margin-bottom: 10px;
  cursor: pointer;
}

.add-user-btn:hover {
  background-color: #58a36a;
}

.actions-container {
  display: flex;
  justify-content: space-evenly; /* Ensures even spacing between buttons */
}

.apple-touch-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}